extends head

//- mixin background
//-   each bg in backgrounds
//-     if user.bg == `img/1200x450/${bg}`
      

block content
  div(style='margin-top: 20px;')
    .container
      .row
        .col-md-12
          span.text-white
            h1 Welcome to RiiTag!
            br
            | RiiTag is a customizable gamertag for the Wii. By sharing your gamertag (a dynamic image), you can show what you've been playing to your friends! You connect it to a USB Loader, and the tag updates on-the-fly. You need a Discord account in order to start using RiiTag. Covers are provided by GameTDB and this service is developed by RiiConnect24.
            br
            br
            img(width="50%" src="/demo" alt="Example")
            br
            br
            a(href="/login" type="button" class="btn btn-primary") Log In
            a(href="https://wii.guide/riitag" type="button" class="btn btn-primary") Instructions
  script(src='assets/js/jquery.min.js')
  script(src='assets/bootstrap/js/bootstrap.min.js')
