extends head

block content
    p That user ID does not exist.
    p ~Nick "Larsenv" Fibonacci - 2019
    if err
        br
        br
        p
            b Debug info:
        p= err
    br
    a(href="/create") Is this you? Create your tag here.