extends head

block content
  - var soverlay
  div.big-space-top
    .container
      .row
        .col-md-12
          span.text-white
            p That user or page does not exist.
            p ~<a href="https://www.nicksspaghettiandsteakhouse.com/">Nick</a> "Larsenv" Fibonacci - 2019
            a(href="/create") Is this you? Create your tag here.
  script(src='/assets/js/jquery.min.js')
  script(src='/assets/bootstrap/js/bootstrap.min.js')
