.form-control.form-control-lg {
  text-align: center;
  font-size: 190%;
  font-weight: bold;
}

.dropdown-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

body {
  background-color: #212529 !important;
}

.form-control {
  border-color: #343a40;
  background-color: #343a40;
  color: white;
}

.form-control:focus {
  background-color: #1d2124;
  color: white;
  border-color: #1d2124;
}

.dropdown-menu {
  background-color: #343a40;
  color: white;
}

.dropdown-item {
  color: white;
}

.dropdown-item-text {
  color: white;
}

.dropdown-item:hover {
  background-color: #212529;
  color: white;
}

.dropdown-divider {
  border-top: #171a1d;
}

select {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: #343a40;
  background-clip: padding-box;
  border: 1px solid #343a40;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

select {
  color: white;
  background-color: #1d2124;
  border-color: #1d2124;
  outline: 0;
}

select:hover {
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

p {
  color: white;
}

.card {
  background-color: #343a40;
  color: white;
}

img:hover {
  transition: ease-in-out 0.1s;
  box-shadow: 0 0 16px #18B6ED;
}

img.editor {
  box-shadow: 0 0 8px #18B6ED;
}

.space-right {
  margin-right: 10px
}

.big-space-right {
  margin-right: 20px
}

.space-left {
  margin-left: 10px
}

.space-top {
  margin-top: 10px
}

.big-space-top {
  margin-top: 20px
}

.space-bottom {
  margin-bottom: 10px
}

.big-space-bottom {
  margin-bottom: 20px
}

.save-btn {
  position: fixed;
  bottom: 5%;
  right: 5%
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}

.btn-circle-xl {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 2rem;
}

.sticky {
  position: sticky;
}